<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
  <a class="navbar-brand" href="/">binyun</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/register">注册页面 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/viewlog">星座运势</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/showlog">日志系统</a>
      </li>
    </ul>
    <span class="navbar-text">
      欢迎大家的到来！
    </span>
  </div>
</nav>
<p>{{data.title}}</p>
DESC:{{data.des}}
<br>
{% for i in data.list%}
{{i}}
{%endfor%}
</body>
</html>