<!DOCTYPE HTML>
<html>
<head>
<title>Purple_loginform Website Template | Home :: w3layouts</title>
<!-- <link href="static/style.css" rel="stylesheet" type="text/css" media="all" /> -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<!-- -->
<script>var __links = document.querySelectorAll('a');function __linkClick(e) { parent.window.postMessage(this.href, '*');} ;for (var i = 0, l = __links.length; i < l; i++) {if ( __links[i].getAttribute('data-t') == '_blank' ) { __links[i].addEventListener('click', __linkClick, false);}}</script>
<!-- <script src="js/jquery.min.js"></script> -->
<!-- <script>$(document).ready(function(c) {
	$('.alert-close').on('click', function(c){
		$('.message').fadeOut('slow', function(c){
	  		$('.message').remove();
		});
	});	

	function myFunction(){
		alert(111)
	}
});
</script> -->
<style type="text/css">
	body{
	background: url('/static/good.jpg');
	font-family: 'Droid Sans', sans-serif;
	background-repeat: repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}


</style>
</head>

<body>
<!-- contact-form -->	
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">主页</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/register">注册页面 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/viewlog">周公解梦</a>
      </li>
     
      <li class="nav-item">
       <a class="nav-link" href="/showlog">日志系统</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="body">

</div>
<!-- <div id="nav">

    <ul>

        <li><a href="/register" />注册页面</a></li>

        <li><a href="/viewlog" />周公解梦</a></li>

        <li><a href="#" />星座匹配</a></li>

        <li><a href="http://linnnnn.pythonanywhere.com/" />繁体字转换</a></li>
		
		<li><a href="#" />详细信息</a></li>

		<li><a href="http://e.nfu.edu.cn/" />关于我们</a></li>

</ul>   

</div> -->
<!--<div class="message warning">-->
<!--<div class="inset">-->
	<!--<div class="login-head">-->
		<!--<h1>请先注册</h1>-->
		 <!--<div class="alert-close"> </div> 			-->
	<!--</div>-->
		<!--<form method='POST' action='/login'>-->
			<!--<li>-->
				<!--<input type="text" class="text" value="" name="username" onfocus="this.value = '';" ><a href="#" class=" icon user"></a>-->
			<!--</li>-->
				<!--<div class="clear"> </div>-->
			<!--<li>-->
				<!--<input type="password" value=""  name="password" onfocus="this.value = '';"> <a href="#" class="icon lock"></a>-->
			<!--</li>-->
			<!--<div class="clear"> </div>-->
			<!--<div class="submit">-->
				<!--<p><input type="submit" onclick="myFunction()" value="注册" >-->
				<!--<h4><a href="#">Lost your Password ?</a></h4>-->
						  <!--<div class="clear">  </div>	-->
			<!--</div>-->

            <!--<div class="flash-message">-->
    <!--{% with messages = get_flashed_messages() %}-->
        <!--{% if messages %}-->
            <!--<ul>-->
            <!--{% for message in messages %}-->
                <!--<li>{{ message }}</li>-->
            <!--{% endfor %}-->
            <!--</ul>-->
        <!--{% endif %}-->
    <!--{% endwith %}-->
<!--</div>-->
				<!---->
		<!--</form>-->
		<!--&lt;!&ndash;</div>					&ndash;&gt;-->
	<!--</div>-->
<!--</div>-->
<div class="clear"> </div>
<br>
<br>
<br>
<br>

<p align="center">亲爱的你，欢迎来到这个奇妙的网站！</p>
<br>
<br>
<p align="center">在这里，有可以为你剖析梦境中的“周公解梦；也有为你量身定做的“登录”，更有那美妙的“日志系统”！</p>
<br>
<br>
<p align="center">还在等什么？我们一起分享这快乐的时光吧~</p>

<p align="center"><button align="center" type="button" class="btn btn-success" ><a href="/viewlog">Success</a></button></p>
<!--- footer --->
<div class="footer">
	<p></p>
</div>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
 <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>