
        <section id="features" class="section section-feature-grey is-medium">
            <div class="container">
                <div class="title-wrapper has-text-centered">
                    <h2 class="title is-2">主要功能</h2>
                    <h3 class="subtitle is-6 is-muted">
                    本网站提供今日格言、今日诗词、今日天气三大主要功能，为同学们提供多语言环境下聊天素材备采，丰富诗词爱好者储备库，为文字工作者提供更多的素材积累。
                    </h3>
                    <div class="divider is-centered"></div>
                </div>
        
                <div class="content-wrapper">
                    <div class="columns">
                        <div class="column is-one-third">
                            <div class="feature-card is-bordered has-text-centered revealOnScroll delay-1" data-animation="fadeInLeft">
                                <div class="card-title">
                                    <h4>每日诗词</h4>
                                </div>
                                <div class="card-icon">
                                    <img alt="AppSeed App Generator Logo." class="lazy" 
                                         data-src="/static/assets/images/illustrations/icons/mouse-globe.svg">
                                </div>
                                <div class="card-text">
                                    <p>
                                         调用<a href="https://www.jinrishici.com/">今日诗词</a>，提供陶冶情操的文字
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="/form-contact.html" class="button btn-align-md accent-btn raised">开始使用</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="feature-card is-bordered has-text-centered revealOnScroll delay-2" data-animation="fadeInLeft">
                                <div class="card-title">
                                    <h4>每日格言</h4>
                                </div>
                                <div class="card-icon">
                                    <img class="lazy" data-src="/static/assets/images/illustrations/icons/laptop-cloud.svg">
                                </div>
                                <div class="card-text">
                                    <p>
                                        调用每日格言，激励同学们勇敢前行！
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="/form-mrgy.html" class="button btn-align-md secondary-btn raised">开始使用</a>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="feature-card is-bordered has-text-centered revealOnScroll delay-3" data-animation="fadeInLeft">
                                <div class="card-title">
                                    <h4>每日天气</h4>
                                </div>
                                <div class="card-icon">
                                    <img class="lazy" data-src="/static/assets/images/illustrations/icons/plug-cloud.svg">
                                </div>
                                <div class="card-text">
                                    <p>
                                        采用模块化设计，定制化进行天气提醒
                                    </p>
                                </div>
                                <div class="card-action">
                                    <a href="/form-mrtq.html" 
                                       class="button btn-align-md primary-btn raised">开始使用</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


